.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 60px;
  .supportText {
    width: 260px;
    p {
      span {
        font-size: 80px;
        display: block;
        color: #e3dede;
        font-family: "Blimone Bold Inktrap";
        line-height: 1;
        &.largeText {
          font-size: 140px;
          font-family: "Blimone Bold Inktrap";
        }
      }
    }
  }
  .bulletPoints {
    width: 372px;
    .points {
      display: flex;
      flex-direction: column;
      gap: 60px;
      margin-bottom: 28px;
      .single_point {
        .custom_bullet {
          height: 40px;
          width: 40px;
          background-color: #e3dede;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 40px;
          svg {
            transform: scale(0.8);
            animation: spin 20s infinite linear;
            @keyframes spin {
              from {
                transform: scale(0.8) rotate(0deg);
              }
              to {
                transform: scale(0.8) rotate(360deg);
              }
            }
          }
        }
        p {
          margin-top: 24px;
          color: #b7b6ba;
          a {
            color: #84d7e9;
            text-decoration: underline;
          }
        }
      }
    }
    .button {
      width: 340px;
      height: 60px;
      border: solid 1px #ff5476;
      border-radius: 100000px;
      color: #ff5476;
      background: none;
    }
  }

  .image {
    height: 584px;
    width: 312px;
    border-radius: 100000px;
    background-size: auto 100%;
    background-position: center;
    --clip: 0% at 50% 100%;
    clip-path: circle(var(--clip));
  }
}
